/* h2 {
    display:  inline;
    background-color: aliceblue;
}

span {
    display: block;
    background-color: yellowgreen;
} */

span {
    /* background-color: lime; */
    border: 2px solid black;
    height: 100px;
    width: 200px;
    padding: 50px;
    margin: 20px;
}