.first {
    background-color: rgb(255, 162, 0);
    height: 300px;
    width: 300px;
    border-radius: 50%;
}

.eye {
    height: 36px;
    width: 36px;
    background-color: black;
    border-radius: 50%;
    margin-top: 86px;
    margin-left: 70px;
    display: inline-block;
}

.mouth {
    height: 39px;
    width: 120px;
    background-color: rgb(255, 0, 25);
    margin-left: 85px;
    margin-top: 74px;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 23px;
}