div {
    height: 200px;
    width: 200px;
    background-color: #4dff00ff;
    transition: 2s;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div:hover{
    background-color: black;
    border-radius: 50%;
    color: white;
}

h1 {
    color: #4dff00ff;
    margin:1px
}

div:hover h1 {
    transition: 2s;
    color: white;
}

.emojee:hover {
    background-color: black;
}

.emojee h1 {
    opacity: 0;
}

.emojee:hover h1 {
    opacity: 1;
}

body h1 {
    text-align: center;
}