.container {
    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 13px;
    display: flex;
    align-items: center;
}

.first {
    height: 50px;
    width: 80px;
    font-size: 24px;
    align-items: center;
    justify-content: center;
}