*{
    font-family: 'Courier New', Courier, monospace;
}

h1, h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.post a {
    color:purple;
    background-color: yellow;
}

nav ul li {
    color: hotpink;
}

nav ul li a {
    color: hotpink;
}