h1 {
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 20px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: right;
    text-decoration: pink line-through;
    
}

p {
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
}

h2 {
    font-weight: normal;
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none;
}