#box1 {
    width: 100px;
    height: 100px;
    background-color: green;
    transition: 2s ease-in;
}

#box1:hover {
    width: 600px;
}

#box2 {
    width: 100px;
    height: 100px;
    background-color: red;
}

#box2:hover {
    transform:translate(200px,200px) rotate(90deg);
}

#box3 {
    width: 100px;
    height: 100px;
    background-color: lightblue;
}

#box3:hover {
    transform: skewX(20deg);
}

#box4 {
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    box-shadow: 2px 2px 5px green;
}

#myPic {
    width: 200px;
    height: 200px;
    background-color: pink;
    background-image: url("image.png");
    background-repeat: no-repeat;
}